.chat {
  background: #FFFFFF;
  border-radius: 10px 10px 0 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 7px 9px 0 rgba(0,0,0,0.03), 0 1px 0 0 rgba(0,0,0,0.03);
    z-index: 1;

    &__name {
      margin-left: 10px;
      font-family: HelveticaNeue-Bold;
      font-size: 15px;
    }
    &__members {
      margin-left: 10px;
      opacity: 0.5;
      font-size: 12px;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__events {
    padding: 0 40px 40px 40px;
    height: 100%;
    flex: 1;
    overflow-y: scroll;
  }

  &__event {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;

    &__content {
      margin-left: 15px;
      padding: 15px 15px 5px 15px;
      background: #FFFFFF;
      box-shadow: 0 10px 15px 0 rgba(0,0,0,0.12);
      border-radius: 15px;
    }

    &__text {
      font-size: 14px;
      color: #46454C;
      text-align: left;
    }

    &__time {
      // position: absolute;
      // right: 15px;
      // bottom: 0px;
      opacity: 0.5;
      font-size: 11px;
      color: #000000;
      text-align: right;
    }
  }

  &__message {
    padding: 0 40px 15px 40px;

    &__content {
      padding: 0 20px;
      min-height: 56px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: rgba(0,0,0,0.05);
      border-radius: 10px;
      opacity: 0.7;
      color: #000000;
      box-shadow: 0 10px 10px 0 rgba(0,0,0,0.12);

      img {
        filter: grayscale(100%);
      }

    }

    &__input {
      width: 100%;
      outline: none;
      box-shadow: none;
      font-size: 15px;
      color: #000000;

      &:focus ~ img{
        filter: grayscale(0);
      }
    }
  }

  &__users {
    display: none;
    padding: 20px 40px 40px 40px;

    &__item {
      padding: 10px 15px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      width: fit-content;
      background: #FFFFFF;
      box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.12);
      border-radius: 100px;
      font-size: 13px;
    }

    &__info {
      margin-left: 15px;
    }

    &__avatar {
      width: 35px;
      height: 35px;
    }

    &__name {
      font-weight: 500;
    }

    &__last-seen {
      opacity: 0.5;
    }
  }
}
