.rooms {
  padding: 10px;
  border-right: 1px solid #EAEAEA;

  &__search {
    display: flex;
    align-items: center;

    &__input {
      width: 200px;
      margin-left: 10px;
      padding-left: 15px;
      background: rgba(0,0,0,0.05);
      border-radius: 15px;
      opacity: 0.5;
      font-size: 14px;
      color: #000000;
      text-align: left;
      box-shadow: none;
      outline: none;
    }

    &__button {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 40px;
      height: 40px;
      box-shadow: none;
      background: #FFFFFF;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.09);
      border-radius: 25px;
      outline: none;

      img {
        margin-left: 3px;
      }
    }
  }

  &__content {
    margin-top: 35px;
  }

  &__item {
    padding: 0 10px;

    &__content {
      display: flex;
      position: relative;
      padding: 10px 0;
      width: 260px;
      box-shadow: 0 1px 0 0 rgba(0,0,0,0.07);
    }

    &.-active {
      background: rgba(255,255,255,0.90);
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07);
      border-radius: 9px;

      .rooms__item__content {
        border-top: 1px solid #FFFFFF;
        box-shadow: none;
      }
    }

    &__description {
      margin-left: 10px;
    }

    &__name {
      font-size: 14px;
    }

    &__last-message {
      opacity: 0.5;
      font-size: 13px;
      color: #000000;
    }

    &__last-message-time {
      position: absolute;
      right: 0;
      top: 10px;
      opacity: 0.5;
      font-size: 11px;
      color: #000000;
      text-align: right;
    }
  }
}
