<div class="messenger-container">
  <div class="messenger">
    <%= render BlablWeb.MessengerView, "_rooms.html", rooms: @rooms, active_room_id: @active_room_id %>
    <%= render BlablWeb.MessengerView, "_chat.html", events: @events %>
  </div>
</div>
